//var
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

$width: 300px;

$bg-color: rgb(0, 0, 0);
$margin-nav: 20px;
$padding-footer: 30px;

$font-size: 40px;
$font-size-little: 15px;
$font-weight: 900;
$text-upper: uppercase;
$letter-space: 2px;

$displayFlex: flex;
$flex-flow: column wrap;

$font-family: 'Open Sans', sans-serif;