@import "./common";

#colorColapsed { 
      background: $bg-color;
      border: none;
      margin: $margin-nav;
}
             
#productosDestacados {
      display: flex;
      flex-direction: row;
}

#productosDestacados div {
      margin-left: 10px;
      margin-right: 10px;
}

#card-Button {
      color: black;
      background-color: white;
      border: black 1px solid;
}

#button-Top {
      background-color: white;
      border: black 1px solid;
      color: black;
      font-family: 'Open Sans', sans-serif;
      margin: 10px;
}

.instagram-Container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      margin: 80px;
}

#instagram-acces {
      font-family: $font-family;
}

footer {
      color: $bg-color;
      font-family: 'Open Sans', sans-serif;
      font-size: $font-size;
}